@font-face {
    font-family: "Glyphicons";
    src: url("/wwwroot/webfonts/FontIcon.eot");
    src: url("/wwwroot/webfonts/FontIcon.eot?#iefix") format("embedded-opentype"), url("/wwwroot/webfonts/FontIcon.woff") format("woff"), url("/wwwroot/webfonts/FontIcon.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box !important;
    text-decoration: none;
}

.header {
    background-image: url("../images/headerPattern.png");
    background-repeat: repeat;
    background-size: 40px 40px;
}

/* main logo */
.header .mainLogo img {
    max-width: 100%;
    height: auto;
}

/* select lamguage*/
.selectLanguage ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
}

.selectLanguage ul li a {
    color: gray;
    transition: all .3s;
}

.selectLanguage li a:hover {
    color: black;
}

.selectLanguage li:first-child {
    order: 1;
}

.selectLanguage li:last-child {
    order: 3;
}

.selectLanguage ul::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: gray;
    display: block;
    order: 2;
    margin: 0 3px;
}

/* search */
.searchBox .input-group {
    max-width: 200px;
    border-radius: 20px;
}

.searchBox .form-outline #search-focus {
    padding: 4px 8px;
    border-radius: 30px;
}

.searchBox .searchBtn {
    position: absolute;
    padding: 4px 8px;
}

/* social Media */

.bottomHead .socialMedia ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
}

.bottomHead .socialMedia ul a {
    text-decoration: none;
    display: block;
}

.bottomHead .socialMedia ul a i:hover {
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.6);
}

.bottomHead .socialMedia ul li a i {
    font-family: "Glyphicons";
    font-size: 16px;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    transition: all .3s;
    align-items: center;
    border-radius: 50%;
}

.bottomHead .socialMedia ul li a i::before {
    font-style: normal;
}

.bottomHead .socialMedia ul li a .itelegram {
    background-color: lightskyblue;
}

.bottomHead .socialMedia ul li a .itelegram::before {
    content: '\e750';
}

.bottomHead .socialMedia ul li a .iinstagram {
    background-color: purple;
}

.bottomHead .socialMedia ul li a .iinstagram::before {
    content: '\e80b';
}

.bottomHead .socialMedia ul li a .itweeter {
    background-color: blue;
}

.bottomHead .socialMedia ul li a .itweeter::before {
    content: '\e749';

}

.bottomHead .socialMedia ul li a .iaparat {

    background-color: red;
}

.bottomHead .socialMedia ul li a .iaparat::before {
    content: '\e701';

}

.bottomHead .socialMedia ul li a .ifacebook {
    background-color: darkblue;
}

.bottomHead .socialMedia ul li a .ifacebook::before {
    content: '\e747';
}

.bottomHead .socialMedia ul li a .ilinkdin {
    background-color: palegreen;
}

.bottomHead .socialMedia ul li a .ilinkdin::before {
    content: '\e892';
}


/* Mega Menu */
.navigate {
    background-color: #656565;
}

.navigate .menu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigate .menu-container>ul {
    display: flex;
    flex-flow: wrap row-reverse;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.navigate .menu-container ul>li.dropdown {
    position: static;
}

.navigate .menu-container ul>li.dropdown>.menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    transition: all .8s;
    background-color: #656565;

}

.navigate .menu-container ul>li.dropdown>.menu>ul {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.navigate .menu-container ul>li.dropdown>.menu>ul>.sub-dropdown {
    width: 25%;
    padding: 12px;
}

.navigate .menu-container ul>li.dropdown>.menu>ul>.sub-dropdown>.panel-heading {
    text-align: right;
    color: #fff;
    display: block;
    border-bottom: 1px solid #fff;
}

.navigate .menu-container ul li a {
    padding: 6px 12px;
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    display: block;
    transition: all .3s;
}

.navigate .menu-container ul li a:hover {
    color: #fff;
}

.navigate .menu-container ul li.dropdown a {
    padding-left: 24px;
}

.navigate .menu-container ul li.dropdown>a::before {
    content: "\E812";
    font-family: "Glyphicons";
    font-size: 14px;
    transform: rotate(-90deg);
    display: inline-block;
    margin-right: 4px;
}

.navigate .menu-container ul li.dropdown>.menu>ul>.sub-dropdown .sub-menu {
    display: flex;
    flex-flow: wrap column;
    text-align: right;
}

.carousel-indicators>button {
    width: 10px !important;
    height: 10px !important;
    background-color: #fff !important;
    border-radius: 10px;
    opacity: 1 !important;
    border: none !important;
}

.mainSlider .carousel-item {
    transition: transform 5s ease-in-out;
}

.imprtantNews .carousel-item {
    transition: transform 8s ease-in-out;
}

.imprtantNews {
    display: flex;
    position: relative;
}

.imprtantNews .titleItem {
    flex-shrink: 0;
    padding: 5px 8px;
    color: #fff;
    background-color: rgb(190, 2, 2);
    border-left: 3px solid rgb(95, 1, 1);
}

.imprtantNews .titleItem i::before {
    content: "\E959";
    font-size: 16px;
    color: #fff;
    font-family: "Glyphicons";
    font-style: normal;
    margin-left: 5px;
}

.imprtantNews .carousel {
    padding-left: 110px;
    padding-right: 20px;
    padding-top: 10px;
    width: 100%;
}


.imprtantNews .carousel .carousel-item h6 {
    font-size: 12px;
}

.imprtantNews .carousel .carousel-control-prev {
    width: 36px;
    height: 36px;
    left: 55px;
    right: auto !important;
}

.imprtantNews .carousel .carousel-control-prev::before {
    content: "\E814";
    font-size: 16px;
    color: #555;
    font-family: "Glyphicons";
    font-style: normal;
}

.imprtantNews .carousel .carousel-control-next {
    left: 15px;
    width: 36px;
    height: 36px;
}

.imprtantNews .carousel .carousel-control-next::before {
    content: "\E812";
    font-size: 16px;
    color: #555;
    font-family: "Glyphicons";
    font-style: normal;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}


/* important news */
.latestNews .impoNews {}

/*cover news*/
.latestNews .impoNews .coverNews {
    border-bottom: 1px solid #bebebe;
}

.latestNews .impoNews .coverNews .coverlink {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.latestNews .impoNews .coverNews .coverlink span {
    padding: 10px 12px;
    font-weight: bold;
    display: block;
}

/*list news*/
.latestNews .impoNews ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.latestNews .impoNews ul li {
    border-bottom: 1px solid #bebebe;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 0;
    text-overflow: ellipsis;
}

.latestNews .impoNews ul li:last-child {
    border-bottom: none;

}

.latestNews .impoNews ul li a::before {
    content: "";
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: rgb(190, 2, 2);

    margin-left: 5px;
    display: inline-block;
}

.latestNews .impoNews ul li a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    padding: 10px;
}

.linkToNews {
    display: flex;
    justify-content: flex-end;
}

.linkToNews a {
    font-size: 13px;
    color: #fff;
    border-bottom: 2px solid rgb(95, 1, 1);
    background-color: rgb(190, 2, 2);
    min-width: 80px;
    text-align: center;
    padding: 2px 12px;
    text-decoration: none;
}

.latestNews .impoNews .coverNews h2 {}


/*tab style*/
.tabLayout {}

.tabLayout .tabContainer {}

.tabLayout .tabContainer .tabItems {}

.tabLayout .tabContainer .tabItems .mainTab .tab-heading {
    width: 25%;
}

.tabLayout .tabContainer .tabItems .mainTab .tab-heading h6 {}

.tabLayout .tabContainer .tabItems .mainTab ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tabLayout .tabContainer .tabItems .mainTab ul li {
    border-bottom: 1px solid #bebebe;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
}

.tabLayout .tabContainer .tabItems .mainTab ul li:last-child {
    border-bottom: none;

}

.tabLayout .tabContainer .tabItems .mainTab ul li a::before {
    content: "";
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: rgb(190, 2, 2);

    margin-left: 5px;
    display: inline-block;
}

.tabLayout .tabContainer .tabItems .mainTab ul li a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    padding: 10px;
}

@media (min-width:992px) and (max-width:1199px) {
    .latestNews .impoNews .coverNews h2 {
        font-size: 16px;
    }
}